// Media query for mobile content (portrait)
@media screen and (max-width: 500px) and (min-height: 501px) {

    // Error page content
    .errorpage_container {
        width: 90%;
        height: 80vh;
        gap: .5rem;

        img {
            width: 65%;
        }

        p {
            font-size: 1.05rem;
            word-spacing: .15rem;
            letter-spacing: .05rem;
        }

        .error_page_link {
            margin: 1.25rem 0rem;
            padding: .35rem 1rem;
            font-size: 1.25rem;
            word-spacing: .1rem;
        }
    }
}


// Media query for very small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 500px), screen and (max-width: 300px) and (min-height: 500px) {

    // Error page content
    .errorpage_container {
        width: 90%;
        height: 70vh;
        gap: .25rem;
        overflow: hidden;

        img {
            width: unset;
            height: 40%;
        }

        p {
            font-size: .6rem;
            word-spacing: .025rem;
            letter-spacing: .02rem;
        }

        .error_page_link {
            margin: 0;
            padding: .1rem .5rem;
            font-size: .65rem;
            word-spacing: .1rem;
            border: .05rem solid var(--app-primary-color);
        }
    }
}


// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 501px) and (max-width: 1000px) {

    // Error page content
    .errorpage_container {
        width: 90%;
        height: 70vh;
        gap: .25rem;

        img {
            width: unset;
            height: 50%;
        }

        p {
            font-size: .7rem;
            word-spacing: .1rem;
            letter-spacing: .05rem;
        }

        .error_page_link {
            //margin: 1.25rem 0rem;
            margin: 0;
            padding: .125rem .75rem;
            font-size: .8rem;
            word-spacing: .075rem;
        }
    }
}


// Media queries for small tablet content (square)
@media screen and (min-height: 650px) and (min-width: 501px) and (max-width: 700px) {

    // Error page content
    .errorpage_container {
        width: 90%;
        height: 80vh;
        gap: 1rem;
        overflow: hidden;

        img {
            width: unset;
            height: 50%;
        }

        p {
            font-size: 1.15rem;
            word-spacing: .15rem;
            letter-spacing: .15rem;
        }

        .error_page_link {
            margin: 1.5rem 0rem;
            padding: .5rem 1.25rem;
            font-size: 1.5rem;
            word-spacing: .1rem;
        }
    }
}


// Media queries for tablet content (portrait)
@media screen and (min-height: 650px) and (min-width: 701px) and (max-width: 1000px) {

    // Error page content
    .errorpage_container {
        width: 90%;
        height: 80vh;
        gap: .75rem;
        overflow: hidden;

        img {
            width: unset;
            height: 50%;
        }

        p {
            font-size: 1.25rem;
            word-spacing: .2em;
            letter-spacing: .15rem;
        }

        .error_page_link {
            margin: 1.5rem 0rem;
            padding: .5rem 1.25rem;
            font-size: 1.65rem;
            word-spacing: .1rem;
        }
    }
}
