// Media query for mobile content (portrait)
@media screen and (max-width: 500px) and (min-height: 501px) {

    // Error page content
    .errorpage_container {
        width: 90%;
        height: 80vh;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // align-content: center;
        // justify-content: center;
        // align-self: center;
        gap: .5rem;

        img {
            width: 65%;
        }

        p {
            // margin: 0;
            font-size: 1.05rem;
            word-spacing: .15rem;
            letter-spacing: .05rem;
            // color: var(--app-secondary-color);
            // transition: all .2s ease-in-out;
        }

        .error_page_link {
            margin: 1.25rem 0rem;
            padding: .35rem 1rem;
            font-size: 1.25rem;
            word-spacing: .1rem;
            // text-decoration: none;
            // color: var(--app-primary-color);
            border: .075rem solid var(--app-primary-color);
            // border-radius: .25rem;
            // transition: all .2s ease-in-out;

            // &:hover {
            //     @keyframes backAndForth {
            //         0% {
            //             translate: -5% 0;
            //         }

            //         100% {
            //             translate: 0 0;
            //         }
            //     }

            //     animation: backAndForth .35s ease 0s infinite alternate-reverse;
            // }
        }
    }

}



// Media query for very small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 500px) {

   // Error page content
.errorpage_container {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;

    img {
        width: 30%;
    }

    p {
        margin: 0;
        font-size: 1.25rem;
        word-spacing: .25rem;
        letter-spacing: .1rem;
        color: var(--app-secondary-color);
        transition: all .2s ease-in-out;
    }

    .error_page_link {
        margin: 1.5rem 0rem;
        padding: .5rem 1.5rem;
        font-size: 1.5rem;
        word-spacing: .15rem;
        text-decoration: none;
        color: var(--app-primary-color);
        border: .1rem solid var(--app-primary-color);
        border-radius: .25rem;
        transition: all .2s ease-in-out;

        &:hover {
            @keyframes backAndForth {
                0% {
                    translate: -5% 0;
                }

                100% {
                    translate: 0 0;
                }
            }

            animation: backAndForth .35s ease 0s infinite alternate-reverse;
        }
    }
}

}


// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 501px) and (max-width: 1000px) {

    // Error page content
.errorpage_container {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;

    img {
        width: 30%;
    }

    p {
        margin: 0;
        font-size: 1.25rem;
        word-spacing: .25rem;
        letter-spacing: .1rem;
        color: var(--app-secondary-color);
        transition: all .2s ease-in-out;
    }

    .error_page_link {
        margin: 1.5rem 0rem;
        padding: .5rem 1.5rem;
        font-size: 1.5rem;
        word-spacing: .15rem;
        text-decoration: none;
        color: var(--app-primary-color);
        border: .1rem solid var(--app-primary-color);
        border-radius: .25rem;
        transition: all .2s ease-in-out;

        &:hover {
            @keyframes backAndForth {
                0% {
                    translate: -5% 0;
                }

                100% {
                    translate: 0 0;
                }
            }

            animation: backAndForth .35s ease 0s infinite alternate-reverse;
        }
    }
}

}


// Media queries for small tablet content (square)
@media screen and (min-height: 651px) and (min-width: 501px) and (max-width: 700px) {

    // Error page content
.errorpage_container {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;

    img {
        width: 30%;
    }

    p {
        margin: 0;
        font-size: 1.25rem;
        word-spacing: .25rem;
        letter-spacing: .1rem;
        color: var(--app-secondary-color);
        transition: all .2s ease-in-out;
    }

    .error_page_link {
        margin: 1.5rem 0rem;
        padding: .5rem 1.5rem;
        font-size: 1.5rem;
        word-spacing: .15rem;
        text-decoration: none;
        color: var(--app-primary-color);
        border: .1rem solid var(--app-primary-color);
        border-radius: .25rem;
        transition: all .2s ease-in-out;

        &:hover {
            @keyframes backAndForth {
                0% {
                    translate: -5% 0;
                }

                100% {
                    translate: 0 0;
                }
            }

            animation: backAndForth .35s ease 0s infinite alternate-reverse;
        }
    }
}

}


// Media queries for tablet content (portrait)
@media screen and (min-height: 651px) and (min-width: 701px) and (max-width: 1000px) {

    // Error page content
.errorpage_container {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;

    img {
        width: 30%;
    }

    p {
        margin: 0;
        font-size: 1.25rem;
        word-spacing: .25rem;
        letter-spacing: .1rem;
        color: var(--app-secondary-color);
        transition: all .2s ease-in-out;
    }

    .error_page_link {
        margin: 1.5rem 0rem;
        padding: .5rem 1.5rem;
        font-size: 1.5rem;
        word-spacing: .15rem;
        text-decoration: none;
        color: var(--app-primary-color);
        border: .1rem solid var(--app-primary-color);
        border-radius: .25rem;
        transition: all .2s ease-in-out;

        &:hover {
            @keyframes backAndForth {
                0% {
                    translate: -5% 0;
                }

                100% {
                    translate: 0 0;
                }
            }

            animation: backAndForth .35s ease 0s infinite alternate-reverse;
        }
    }
}

}


// // Media queries for very wide screens content
// @media screen and (max-height: 750px) and (min-width: 1001px) {

//     // Error page content
// .errorpage_container {
//     width: 90%;
//     height: 75%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     align-content: center;
//     justify-content: center;
//     align-self: center;

//     img {
//         width: 30%;
//     }

//     p {
//         margin: 0;
//         font-size: 1.25rem;
//         word-spacing: .25rem;
//         letter-spacing: .1rem;
//         color: var(--app-secondary-color);
//         transition: all .2s ease-in-out;
//     }

//     .error_page_link {
//         margin: 1.5rem 0rem;
//         padding: .5rem 1.5rem;
//         font-size: 1.5rem;
//         word-spacing: .15rem;
//         text-decoration: none;
//         color: var(--app-primary-color);
//         border: .1rem solid var(--app-primary-color);
//         border-radius: .25rem;
//         transition: all .2s ease-in-out;

//         &:hover {
//             @keyframes backAndForth {
//                 0% {
//                     translate: -5% 0;
//                 }

//                 100% {
//                     translate: 0 0;
//                 }
//             }

//             animation: backAndForth .35s ease 0s infinite alternate-reverse;
//         }
//     }
// }

// }