// General page content
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


// Global styles
.large_button {
    text-transform: uppercase;
    background: var(--app-primary-color);
    color: var(--app-white-color);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 .05rem .2rem var(--app-transparent-background-color-2);

    &:hover {
        color: var(--app-primary-color);
        background: var(--app-intermediate-color);
    }
}

.clear_button {
    background: transparent;
    padding: 0.5rem 1rem;
    color: var(--app-negative-color);
    border: .075rem solid var(--app-negative-color);
    margin-top: .75rem;
    border-radius: .25rem;

    &:hover {
        background: var(--app-negative-support-color);
        color: var(--app-negative-color);
        border-color: var(--app-negative-support-color);
    }
}