// Media query for unsuitable mobile screens
@media screen and (max-width: 200px), screen and (max-height: 150px) {

    // App content
    .app_container {
        visibility: hidden;
        overflow: hidden;

        &::before {
            position: fixed;
            visibility: visible;
            background-color: var(--app-bg-color);
            color: var(--app-secondary-color);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            content: "Your screen is too small to display this App :(";
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
        }
    }
}


// Media query for mobile content (portrait)
@media screen and (max-width: 500px) and (min-height: 501px) {

    // Navbar content
    .navbar_container {
        padding: .5rem 1rem;

        h3 {
            letter-spacing: .025rem;
            line-height: 1rem;
            font-size: 1rem;
        }

        .navbar_buttons_container {
            gap: 1.5rem;

            a {

                &:hover {
                    translate: 0 0;
                }
            }

            a:first-of-type {
                font-size: .925rem;
                padding-bottom: .1rem;
            }

            a:nth-of-type(2) {

                svg {
                    width: 1.35rem;
                }

                .cart_amount_container {
                    top: -0.2rem;
                    right: -0.5rem;
                    width: 1rem;
                    height: 1rem;

                    p {
                        font-size: .625rem;
                        padding-bottom: 0rem;

                        &.cart_amount_overflow {
                            font-size: .535rem;
                        }
                    }
                }
            }
        }
    }


    // Footer content
    .footer_container {
        padding: .125rem .5rem;

        .footer_text {

            p {
                word-spacing: .025rem;
                font-size: .625rem;
            }
        }

        .footer_icon_container {
            gap: .35rem;

            a {
                width: 1.2rem;
                height: 1.2rem;
                padding: .2rem;

                svg {
                    font-size: .75rem;
                }

                &:hover {

                    svg {
                        color: var(--footer-color);
                        translate: 0 0;
                    }
                }
            }

            a:nth-of-type(1),
            a:nth-of-type(2) {
                svg {
                    font-size: .65rem;
                }
            }
        }
    }
}


// Media query for very small mobile screens
@media screen and (max-width: 500px) and (max-height: 500px), screen and (max-width: 300px) and (min-height: 500px) {

    // Navbar content
    .navbar_container {
        padding: .35rem .65rem;

        h3 {
            letter-spacing: .015rem;
            line-height: .75rem;
            font-size: .775rem;
        }

        .navbar_buttons_container {
            gap: .75rem;

            a {

                &:hover {
                    translate: 0 0;
                }
            }

            a:first-of-type {
                font-size: .7rem;
                padding-bottom: .1rem;
            }

            a:nth-of-type(2) {

                svg {
                    width: 1rem;
                }

                .cart_amount_container {
                    top: -0.2rem;
                    right: -0.5rem;
                    width: .8rem;
                    height: .8rem;

                    p {
                        font-size: .55rem;
                        padding-bottom: 0rem;

                        &.cart_amount_overflow {
                            font-size: .45rem;
                            padding-bottom: .05rem;
                        }
                    }
                }
            }
        }
    }


    // Footer content
    .footer_container {
        padding: .1rem .25rem;
        gap: .25rem;

        .footer_text {

            p {
                word-spacing: .015rem;
                font-size: .525rem;
            }
        }

        .footer_icon_container {
            gap: .35rem;

            a {
                width: .8rem;
                height: .8rem;
                padding: .15rem;

                svg {
                    font-size: .65rem;
                }

                &:hover {

                    svg {
                        color: var(--footer-color);
                        translate: 0 0;
                    }
                }
            }

            a:nth-of-type(1),
            a:nth-of-type(2) {
                svg {
                    font-size: .55rem;
                }
            }
        }
    }
}


// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 501px) and (max-width: 1000px) {

    // Navbar content
    .navbar_container {
        padding: .375rem 1rem;

        h3 {
            letter-spacing: .025rem;
            line-height: 1rem;
            font-size: 1rem;
        }

        .navbar_buttons_container {
            gap: 1.5rem;

            a {

                &:hover {
                    translate: 0 0;
                }
            }

            a:first-of-type {
                font-size: .95rem;
                padding-bottom: .1rem;
            }

            a:nth-of-type(2) {

                svg {
                    width: 1.425rem;
                }

                .cart_amount_container {
                    top: -0.2rem;
                    right: -0.5rem;
                    width: 1rem;
                    height: 1rem;

                    p {
                        font-size: .625rem;
                        padding-bottom: 0rem;

                        &.cart_amount_overflow {
                            font-size: .535rem;
                        }
                    }
                }
            }
        }
    }


    // Footer content
    .footer_container {
        padding: .15rem .5rem;

        .footer_text {

            p {
                word-spacing: .025rem;
                font-size: .725rem;
            }
        }

        .footer_icon_container {
            gap: .5rem;

            a {
                width: 1.55rem;
                height: 1.55rem;
                padding: .1rem;

                svg {
                    font-size: .975rem;
                }

                &:hover {

                    svg {
                        color: var(--footer-color);
                        translate: 0 0;
                    }
                }
            }

            a:nth-of-type(1),
            a:nth-of-type(2) {
                svg {
                    font-size: .875rem;
                }
            }
        }
    }
}


// Media queries for small tablet content (square)
@media screen and (min-height: 650px) and (min-width: 501px) and (max-width: 700px) {

    // Navbar content
    .navbar_container {
        padding: .675rem 1.25rem;

        h3 {
            letter-spacing: .05rem;
            line-height: 1rem;
            font-size: 1.15rem;
        }

        .navbar_buttons_container {
            gap: 2.5rem;

            a {

                &:hover {
                    translate: 0 0;
                }
            }

            a:first-of-type {
                font-size: 1.05rem;
                padding-bottom: .1rem;
            }

            a:nth-of-type(2) {

                svg {
                    width: 1.55rem;
                }

                .cart_amount_container {
                    top: -0.2rem;
                    right: -0.5rem;
                    width: 1.1rem;
                    height: 1.1rem;

                    p {
                        font-size: .75rem;
                        padding-bottom: 0rem;

                        &.cart_amount_overflow {
                            font-size: .6rem;
                            padding-bottom: .1rem;
                        }
                    }
                }
            }
        }
    }


    // Footer content
    .footer_container {
        padding: .25rem .75rem;

        .footer_text {

            p {
                word-spacing: .045rem;
                font-size: .85rem;
            }
        }

        .footer_icon_container {
            gap: .675rem;

            a {
                width: 1.75rem;
                height: 1.75rem;
                padding: .1rem;

                svg {
                    font-size: 1.1rem;
                }

                &:hover {

                    svg {
                        color: var(--footer-color);
                        translate: 0 0;
                    }
                }
            }

            a:nth-of-type(1),
            a:nth-of-type(2) {
                svg {
                    font-size: 1rem;
                }
            }
        }
    }
}


// Media queries for tablet content (portrait)
@media screen and (min-height: 650px) and (min-width: 701px) and (max-width: 1000px) {

    // Footer content
    .footer_container {

        .footer_icon_container {

            a:hover svg {
                color: var(--footer-color);
                translate: 0 0;
            }
        }
    }
}